.herocontainer{
    font-weight: bold;
    font-size: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 1.25rem;
    padding: 1rem;
}
.colourchange{
    color: red;
    font-size: 2rem;
}

/* running words */
.scroll {
    white-space: nowrap;
    margin: 0 2em;
  }

.RightToLeft {
    animation: RightToLeft 10s infinite linear;
}
@keyframes  RightToLeft {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }