.herocontainer{
    font-weight: bold;
    font-size: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 1.25rem;
    padding: 1rem;
}